---
layout: master_episode
---

<article class="post">

  <header class="post-header">
    <div class="post-title-episode">
      <div class="post-header-stop-id" style="background-image: url('{{ site.baseurl }}{{ site.headphones_icon_light }}');">
        <span>{{ page.stop_id }}</span>
      </div>

      {% if page.section_title != null %}
        <h2 class="post-header-section-title" style="display: flex; justify-content: space-between; align-items: center;">
          {{ page.section_title }}
          <button id="toggle-language" style="background: none; border: none; font-size: 25px; cursor: pointer; margin-left: auto;" title="Toggle Language">🌐</button>
        </h2>
      {% endif %}

      <h3 class="post-header-title">
        <span id="title-en">{{ page.title_en }}</span>
        <span id="title-ar" style="display: none;">{{ page.title_ar }}</span>
      </h3>
    </div>
  </header>

  {% if page.hero_images != null %}
    <div class="slick-container post-hero-image-container">
      <div class="slick-post-hero-image">
        {% for hero in page.hero_images %}
          <div class="post-hero-image">    
            <img src="{{ site.baseurl }}{{ site.episode_hero_path }}{{ hero.path }}" alt="{{ hero.alt_text }}"/>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

</article>

<script>
  document.getElementById('toggle-language').addEventListener('click', function() {
    const titleEn = document.getElementById('title-en');
    const titleAr = document.getElementById('title-ar');

    if (titleEn.style.display === 'none') {
      titleEn.style.display = 'inline';
      titleAr.style.display = 'none';
    } else {
      titleEn.style.display = 'none';
      titleAr.style.display = 'inline';
    }
  });
</script>

  
